### all ignore ###
/*
/.**

### not ignore ###
!/.zshrc
!/.zshenv
!/.zprofile
!/.zsh/
!/.vimrc
!/.tmux.conf
!/.wezterm.lua
!/pyproject.toml
!/Cargo.toml
!/.gitignore_py

!/.config
!/.config/**
!/.github
!/.github/**
!/.vscode
!/.vscode/**

!/README.md
!/LICENSE
!.gitignore
